.wrap {
    margin-bottom: 100px;
  }
  .banner {
    position: relative;
  
    .banner__img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .banner__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: var(--font-color);
      font-size: 65px;
      font-weight: 700;
      background-color: var(--bg-primary);
      padding: 4px 0 8px 0px;
    }
  }
  .content {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 3px 20px 5px rgba(0, 0, 0, 0.03);
    margin-top: -80px;
    z-index: 100;
  }
  .content__main {
    padding: 50px 50px 100px 50px;
    display: flex;
  }
  .aside{
    width: 30%;

    .filter{
      border-bottom: 1px dashed rgb(221, 220, 220);
      padding-bottom: 30px;

    }
    .price{
      margin-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px dashed rgb(221, 220, 220);

      .price__range{
        color: var(--bg-primary);
      }

    }
    .type{
      margin-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px dashed rgb(221, 220, 220);
      .type__wrap{
        display: flex;
        align-items: center;
      }
    }
    .location{
      margin-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px dashed rgb(221, 220, 220);
      .location__sub{
        margin-top: 15px;
      }
      .location__wrap{
        display: flex;
        align-items: center;
      }
    }
    .evaluate{
      margin-top: 30px;
      padding-bottom: 30px;
        .evaluate__wrap{
          margin-top: 15px;
        }
    }
  }
  .content__home{
    margin-left: 60px;
    .content__home-list{
      list-style: none;
    }
    .content__home-item{
      margin-top: 20px;
      display: flex;
      padding: 20px;
      border: 1px solid rgb(221, 220, 220);
      border-radius: 8px;

      .content__home-img{
        width: 240px;
        height: 240px;
        border-radius: 8px;
      }
    }
    .section{
      margin-left: 20px;
      .section__heading{
        display: flex;
        align-items: center;
        .section__heading-good{
          margin-left: 100px;
          padding: 8px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          color: var(--font-color);
          background-color: var(--bg-primary);
        }
      }
      .section__heading-title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--color-primary);
      }
      .section-content{
        color: var(--color-primary);
        text-decoration: underline;
        margin-bottom: 0px;
      }
      .endow{
        display: block;
        margin-top: 10px;
        background-color: var(--bg-primary);
        width: 135px;
        border-radius: 4px;
        color: var(--font-color);
        padding: 0 4px;
      }
      .outstanding{
        margin-top: 12px;
        border: 1px solid var(--color-text);
        border-radius: 4px;
        width: 165px;
        padding: 0 4px;

      }
      .bottom{
        display: flex;
      }
      .action{
        margin: 8px 0 0 70px;
        text-align: end;

        .action__content{
          margin-bottom: 0px;
          font-size: 13px;
        }
        .action__price-discount{
          display: block;
          margin-top: 4px;
          font-size: 13px;
          color: red;
          text-decoration: line-through;
        }
        .action__price{
          margin-top: 4px;
        }
        .vacation__item-btn{
          margin-top: 6px;
          background-color: var(--bg-primary);
        }
      }
    }
  }


  @media (max-width: 992px) {
    .content__home{
        margin-left: 0px;
      .content__home-item{
        display: block ;

        .content__home-img{
          width: 100%;
        }
      }
      .section{
        .section__heading{
            margin-top: 20px;
        }
        .section__heading-title{
          font-size: 18px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .content__main {
      display: block;
    }
    .aside {
      width: 100%;
      margin-left: 0px;
    }
    .content__home{
      .content__home-list{
         padding-left: 0;
      }
    }
  }