.wrap {
  margin: 50px 0 100px 0;
  background-color: rgb(236, 243, 243);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking__history {
  padding: 36px;

  h1 {
    margin: 0;
    font-size: 34px;
  }
}
.booking__history-list {
  list-style-type: none;
  padding-left: 0;
}
.booking__history-item {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
}
.booking__history-top {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  background-color: #75b5b7;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;

  h4 {
    margin: 0;
  }
}
.ticket {
  display: flex;
  align-items: center;
  padding: 8px 0;

  .ticket__content {
    width: 530px;
    position: relative;
    display: flex;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      border: 2px dashed #75b5b7;
      height: 100%;
      transform: translateY(-50%);
    }
  }
  .ticket__barcode {
    margin-left: -40px;
    transform: rotate(90deg);
  }
  .ticket__location {
    // min-width: 300px;

    span {
      font-size: 13px;
    }

    p {
      font-weight: bold;
      font-size: 15px;
    }
  }

  .ticket__time {
    // min-width: 300px;
    margin-left: 130px;
    span {
      font-size: 13px;
    }

    p {
      font-weight: bold;
      font-size: 15px;
    }
  }

  .ticket__qrcode {
    padding: 20px 50px 20px 20px;
  }
}
.booking__history-bottom {
  width: 100%;
  height: 20px;
  background-color: #75b5b7;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 992px) {
  .booking__history-top {
    padding: 4px 30px;
  }

  .ticket__barcode-main {
    width: 155px;
  }
  .ticket {
    .ticket__location {
      p {
        font-size: 13px;
      }
    }

    .ticket__time {
      margin-left: 80px;
      p {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 767px) {
  .ticket {
    .ticket__barcode-main {
      width: 130px;
    }
    .ticket__location {
      span {
        font-size: 12px;
      }
      p {
        font-size: 12px;
      }
    }
    .ticket__time {
      margin-left: 50px;

      span {
        font-size: 12px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .ticket__qrcode-main {
    width: 80px !important;
    height: 80px !important;
  }

  .booking__history-bottom {
    height: 15px;
  }
}
@media (max-width: 576px) {
  .booking__history {
    padding: 36px 0;

    h1 {
      font-size: 18px;
    }
  }
  .ticket {
    .ticket__content {
      width: 160px;
    }
    .ticket__barcode {
      margin-left: -20px;
    }
    .ticket__barcode-main {
      width: 100px;
    }
    .ticket__location {
      span {
        font-size: 8px;
      }
      p {
        font-size: 8px;
      }
    }
    .ticket__time {
      margin-left: 20px;

      span {
        font-size: 8px;
      }
      p {
        font-size: 8px;
      }
    }

    .ticket__content {
      &::after {
        right: -10px;
      }
    }

    .ticket__qrcode {
      padding: 10px 20px 10px 30px;
    }
  }
  .ticket__qrcode-main {
    width: 50px !important;
    height: 50px !important;
  }

  .booking__history-bottom {
    height: 12px;
  }
}
