.wrap{
  margin-bottom: 100px;
}
.banner {
  position: relative;

  .banner__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .banner__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--font-color);
    font-size: 65px;
    font-weight: 700;
    background-color: var(--bg-primary);
    padding: 4px 0 8px 0px;
  }
}
.content {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 3px 20px 5px rgba(0, 0, 0, 0.03);
  margin-top: -80px;
  z-index: 100;
}
.content__main {
  padding: 50px 50px 100px 50px;
  display: flex;
}

.content__home {
  width: 70%;
}
.content__home-img {
  width: 100%;
  margin-bottom: 40px;
}
.content__home-name {
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color-text);
}
.content__home-title {
  margin-top: 20px;

  .content__home-heading {
    font-size: 17px;
    color: var(--color-content);
  }
  .content__home-desc {
    font-size: var(--font-size);
    color: var(--color-content);
    margin-top: 20px;
    display: block;
  }
  .content__home-sub-heading {
    margin-top: 20px;
    font-size: 18px;
    color: var(--color-primary);
  }
  .content__home-sub-desc {
    margin-top: 20px;
    display: block;
    font-size: var(--font-size);
    color: var(--color-content);
  }
}
.content__home-image {
  margin-top: 40px;
}
.content__home-desc {
  margin-top: 30px;
  color: var(--color-content);
  font-size: var(--font-size);
}

.content__home-image {
  display: flex;
  img {
    width: 30%;
    height: 230px;
    object-fit: cover;
    
  }
  .content__home-image-w {
    width: 70%;
    margin-left: 20px;
  }
}
// comments
.content__home-comment {
  margin-top: 80px;
}
.content__home-comment-title {
  color: var(--color-text);
  font-weight: 700;
}
.content__home-comment-list {
  margin-top: 60px;
  list-style: none;
  padding: 0;
}
.content__home-comment-item {
  margin-top: 50px;
  display: flex;
}
.content__home-comment-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.content__home-comment-content {
  margin-left: 30px;

  .content__home-comment-name {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
  }
  .content__home-comment-text {
    margin: 8px 0 10px 0;
    font-size: var(--font-size);
    color: var(--color-content);
  }
  .content__home-comment-date {
    font-size: 15px;
    font-weight: 600;
  }
}

.content__home-comment-form{
  margin-top: 40px;
  display: flex;

  .btn{
    margin: 20px 0 20px 20px;
    background-color: var(--bg-primary);

    &:hover{
      background-color: var(--bg-primary);
      color: var(--font-color);
    }
  }
}

// aside styles
.aside {
  margin-left: 50px;
}
.aside__account {
  display: flex;
  align-items: center;

  .account__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
  }
  .account__name {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  }
  .account__icon{
    flex: 1;
    margin-left: 70px;
  }
}

// aside booking
.aside__booking{
  margin-top: 50px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 20px;
 
}
.aside__booking-action{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
  .heading{
     font-weight: 600;
     
     span{
      color: var(--color-primary);
     }
  }

  .sub{
    display: flex;
    .heart,.share{
      margin-left: 10px;
      background-color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      text-align: center;
    }
  }
}
.aside__booking-list{
  padding: 0 12px;
}
.aside__booking-select{
  margin-top: 20px;
  font-weight: 600;
  font-size: var(--font-size);
  color: var(--color-content);

  
}
.aside__booking-price{
  margin-top: 10px;

  .adult,
  .children,
  .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: var(--color-content);
    font-size: var(--font-size);
    
    input{
      width: 50px;
      height: 28px;
    }

    .rate{
      background-color: #fff;
      padding: 6px 12px;
    }
  }

}
.aside__booking-btn{
  margin-top: 30px !important;
  width: 100%;
}

// aside date
.aside__date{
  margin-top: 70px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  color: var(--color-primary) ;

  button{
    color: var(--color-content);
  }
}

// aside list
.aside__list {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}
.aside__list-heding {
  color: var(--color-text);
  font-weight: 700;
}
.aside__item {
  margin-top: 40px;
  display: flex;
  align-items: center;

  .aside__item-img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
  }
}
.aside__item-text {
  .aside__item-text-name {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;
    font-size: 17px;

    &:hover {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }
  .aside__item-text-price {
    margin-top: 10px;
    color: var(--color-content);

    span {
      margin-left: 10px;
      font-size: var(--font-size);
    }
  }
}

@media (max-width: 1024px) {
     .content__main{
      display: block;
     }
     .content__home{
      width: 100%;
     }
     .aside {
      margin-left: 0px;
    }
  }

  @media(max-width: 739px) {
    .aside{
      margin-top: 30px;
    }
  }
  
  