// Nav
.wrap {
  width: 100%;
}
.nav__main {
  background-color: #1c1c1c;
}
.navbar {
  width: 100%;
  background-color: #1c1c1c;
  height: 46px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
  z-index: 1;
}
.navbar__location {
  display: flex;
  color: var(--font-color);
}
.navbar__email,
.navbar__phone,
.navbar__address {
  margin-left: 20px;
  display: flex;
  text-decoration: none;
  color: var(--font-color);
}
.navbar__location-icon {
  color: var(--color-primary);
}
.navbar__location-title {
  margin-left: 12px;

  &:hover {
    color: var(--color-primary);
  }
}
.search__menu-list{
  list-style: none;
  margin: 0;
  padding: 12px;
  .heading{
    font-weight: 600;
    line-height: 1.5;
    padding: 0 2px;
    font-size: 16px;
  }
  .search__menu-item{
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    margin-top: 20px;
  }
  .search__menu-image{
    width: 56px;
    height: 56px;
    border-radius: 8px;
    object-fit: cover;
  }
  .search__menu-heding{
    margin: -2px 0 0 12px;
    width: 100%;

    .name{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 0;
    }
  }
  .search__menu-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    .end{
      color: #9e9e9e;
    }

    .price{
      color: var(--color-primary);
    }
  }
}
.navbar__action {
  display: flex;
  align-items: center;
  color: var(--font-color);
}
.navbar__social {
  margin-right: 48px;
}
.navbar__social-icon {
  margin-left: 12px;

  &:hover {
    color: var(--color-primary);
    cursor: pointer;
  }
}
.navbar__avatar {
  width: 46px;
  height: 46px;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar__img {
  width: 30px;
}
// Header
.header__bg {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  
}
.logo {
  text-decoration: none;
  color: var(--color-text);
  z-index: -1;
}
.logo__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 0px;
  object-fit: cover;
}
.header__list {
  display: flex;
  margin-bottom: 0;
}
.header__item {
  list-style: none;
  padding-right: 80px;
}
.header__link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 17px;
  font-weight: 700;

  &:hover {
    color: var(--color-primary);
  }
}
.header__sub {
}
.header__sub-btn {
  background-color: var(--bg-primary) !important;
  border-radius: 30px !important;
  padding: 6px 24px !important;

  a {
    text-decoration: none;
    color: var(--font-color);
    padding: 2px 6px 0 6px;
  }
}

.acc__mobile {
  display: none;
}

// responsive
@media (max-width: 1200px) {
  .header__item {
    padding-right: 60px;
  }
}

@media (max-width: 992px) {
  .acc__mobile {
    display: block;
  }
  .header__sub {
    display: none;
  }
  .navbar {
    display: none;
  }
  .header__bg {
    background-color: var(--bg-primary);
  }
  .header__item {
    padding-right: 20px;
    font-size: 10px;
  }
  .header__link {
    font-size: 14px;
    color: #fff;
  }
}

.header__menu-mobile {
  display: none;
}
.header__menu-checkbox:checked ~ .header__list {
  display: block;
}

/* Mobile */
@media (max-width: 769px) {
  .hide-on-mobile {
    display: none;
  }
  .header__list {
    position: absolute;
    top: 80px;
    z-index: 1;
    left: 0;
    width: 100%;
    // height: 46px;
    line-height: 46px;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--color-text);
    padding: 0 16px;
    animation: mobileMenu linear 0.3s;
    display: none;
  }
  .header__menu-mobile {
    display: block;
  }

  @keyframes mobileMenu {
    from {
      opacity: 0;
      top: calc(80px / 2);
    }
    to {
      opacity: 1;
      top: 80px;
    }
  }
}
